.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group.invalid .form-message {
  color: #f33a58;
}

.form-group span {
  font-size: 13px;
  font-weight: 600;
}

.color_link {
  color: #000;
}

.ck-content {
  height: 200px;
}
